@use '../../../styles/css-basics.module';

#box-model-demo {
    display: flex;
    justify-content: center;
}

#box-model-demo > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-model-demo p {
    margin: 1.5rem;
    padding: 1rem;
    border: 4px solid #2C3E50;
    width: 12rem;
    text-align: center;
    color: antiquewhite;
    background-image: linear-gradient(darkcyan, darkcyan), 
        linear-gradient(orchid, orchid);
    background-clip: content-box, padding-box;
}