<h1>HTML Cheatsheet</h1>

<nav>
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/cheatsheets', 'css']">CSS Cheatsheet</a></li>
    </ul>
</nav>

<section id="tags">
    <h2>Core Tags</h2>
</section>
<section id="links">
    <h2>Useful Resources</h2>
    <ul>
        <li><a href="https://www.freeformatter.com/html-entities.html">HTML Entities | FreeFormatter</a></li>
        <li><a href="https://codingheroes.io/resources/">Web Dev Resources | CodingHeroes</a></li>
    </ul>
</section>