<h1>Angular Cheatsheet</h1>

<nav>
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/cheatsheets', 'html']">HTML Cheatsheet</a></li>
        <li><a [routerLink]="['/cheatsheets', 'css']">CSS Cheatsheet</a></li>
    </ul>
</nav>


<section id="basics">
    <h2>Basics</h2>
    <div class="u-flex">
        <section id="data-binding">
            <h3>Data Binding</h3>
        
            <ul>
                <li><h4>Event Binding</h4>
                    <pre><code>&lt;button (click)="expression()"&gt;...&lt;/button&gt;
&lt;input (input)="expression()"&gt;
                    </code></pre>
                </li>
                <li><h4>Property Binding</h4>
                    <pre><code>&lt;a [href]="expression()"&gt;...&lt;/a&gt;</code></pre>
                </li>
                <li><h4>String Interpolation</h4>
                    <pre><code ngNonBindable>&lt;li&gt;{{ expression() }}&lt;/li&gt;</code></pre>
                </li>
                <li><h4>Two-Way Binding</h4>
                    <pre><code>&lt;input [(ngModel)]="variable"&gt;</code></pre>
                </li>
            </ul>
        </section>
        
        
        <section id="directives">
            <h3>Directives</h3>
        
            <ul>
                <li><h4>*ngIf</h4>
                    <pre><code>&lt;div *ngIf="condition; else #identifier"&gt;...&lt;/div&gt;
&lt;ng-template #identifier&gt;...&lt;/ng-template&gt;</code></pre>
                </li>
                <li><h4>*ngFor</h4>
                    <pre><code>&lt;li *ngFor="let link of usefulLinks"&gt;&lt;/li&gt;</code></pre>
                </li>
                <li><h4>[ngStyle]</h4>
                    <pre><code>&lt;li [ngStyle]="&#123; 'css-property': value() &#125;"&gt;&lt;/li&gt;</code></pre>
                </li>
                <li><h4>[ngClass]</h4>
                    <pre><code>&lt;li [ngClass]="&#123; className: condition() &#125;"&gt;&lt;/li&gt;
&lt;li [ngClass]="&#123; 'class-name': condition() &#125;"&gt;&lt;/li&gt;</code></pre>
                </li>
            </ul>
        </section>
    </div>
</section>