h2 {
    text-align: center;
}

.u-flex {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    section {
        padding: 0 1.5rem;
        flex: 0 1 auto;
    }
}