<h1>CSS Basics</h1>

<section>
    <h2>Notes</h2>
    <ul>
        <li><a [routerLink]="['/css-basics', 'fonts']">Fonts</a></li>
        <li><a [routerLink]="['/css-basics', 'selectors']">Selectors</a></li>
        <li><a [routerLink]="['/css-basics', 'box-model']">The Box Model</a></li>
        <li><a [routerLink]="['/css-basics', 'flexbox']">Flexbox</a></li>
    </ul>
</section>

<section>
    <h2>Useful Links</h2>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference#index" target="_blank">CSS Reference | MDN</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes" target="_blank">Pseudo-classes | MDN</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements" target="_blank">Pseudo-elements | MDN</a></li>
        <li><a href="https://flexboxfroggy.com/" target="_blank">Flexbox Froggy | Codepip</a></li>
        <li><a href="https://cssgridgarden.com/" target="_blank">CSS Grid Garden | Codepip</a></li>
    </ul>

    <h3>Color Tools</h3>
    <ul>
        <li><a href="https://coolors.co/generate" target="_blank">Color Palette Generator | Coolors</a></li>
        <li><a href="https://coolors.co/gradient-maker/020344-28b8d5" target="_blank">Gradient Maker | Coolors</a></li>
        <li><a href="https://htmlcolorcodes.com/color-chart/" target="_blank">Color Chart | HtmlColorCodes</a></li>
    </ul>
</section>