<h1>Web Fonts</h1>

<section id="properties">
    <h2>Font Properties</h2>

    <ul>
        <li><code>color</code></li>
        <li><code>font</code></li>
        <ul>
            <li><code>font-family</code></li>
            <li><code>font-size</code></li>
            <li><code>font-weight</code></li>
            <li><code>font-style</code></li>
            <li><code>font-variant</code></li>
            <li><code>font-stretch</code></li>
            <li><code>line-height</code></li>
        </ul>
        <li><code>text-decoration</code></li>
    </ul>
</section>

<section id="links">
    <h2>Useful Links</h2>
    
    <ul>
        <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font" target="_blank">CSS Font-* Properties | MDN</a></li>
        <li><a href="https://fontjoy.com/" target="_blank">Font Pairings | Fontjoy</a></li>
        <li>Chrome Font Settings - <code>chrome://settings/fonts</code></li>
    </ul>
</section>

<section id="categories">
    <h2>Font Categories</h2>

    <ul>
        <li>Standard</li>
        <li>Serif</li>
        <li>Sans-serif</li>
        <li>Fixed-width (Monospace)</li>
        <li>Mathematical</li>
    </ul>
</section>

<section id="google-fonts">
    <h2>Importing Google Fonts</h2>

    <ul>
        <li>Add the provided imports to <code>index.html</code>, e.g.</li>
        <li><pre>
<code>&lt;link rel="preconnect" href="https://fonts.googleapis.com"&gt;
&lt;link rel="preconnect" href="https://fonts.gstatic.com" crossorigin&gt;
&lt;link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"&gt;
</code>
        </pre></li>
    </ul>
</section>